{extend name="addon/store/store/view/base.html"/}
{block name="resources"}
<link rel="stylesheet" href="STORE_CSS/login.css">
{/block}
{block name="body"}
<div id="particles-js" style="display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;background: rgba(0,0,0,.5)!important;background-size: cover;background-position: 50% 50%;background-repeat: no-repeat;position: absolute;top: 0;left: 0;">
	<div class="log-carousel">
		<div class="layui-carousel">
			<div><img src="SHOP_IMG/login/login_bg.png" alt=""></div>
		</div>
	</div>
</div>
<div class="login-body">
	<div class="login-content">
		<div class="logo-box">
			<span>门店登录</span>
		</div>
		<div class="layui-form">
			<div class="login-input login-info">
				<div class="login-icon">
					<img src="STORE_IMG/login/login_username.png" alt="" style="width: 18px;">
				</div>
				<input type="text" name="username" lay-verify="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
			</div>
			<div class="login-input login-info">
				<div class="login-icon">
					<img src="STORE_IMG/login/login_password.png" alt="" style="width: 18px;">
				</div>
				<input type="password" name="password" lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
			{if $shop_login == 1}
			<div class="login-input login-verification">
				<div class="login-icon">
					<img src="SHOP_IMG/login/login_verificationCode.png" alt="" style="width: 18px;">
				</div>	
				<input type="text" name="captcha" lay-verify="verificationCode" placeholder="请输入验证码" autocomplete="off" class="layui-input">
				<div class="login-verify-code-img">
					<img id='verify_img' src="{$captcha['img']}" alt='captcha' onclick="verificationCode()"/>
				</div>
			</div>			
			{/if}
			<button id="login_btn" type="button" class="layui-btn ns-bg-color ns-login-btn" lay-submit lay-filter="login">登录</button>

		</div>
	</div>
	<div class="ns-login-bottom">
		<a class="ns-footer-img" href="#"><img src="{if !empty($copyright.logo)} {:img($copyright.logo)}{/if}" /></a>
		<p>{notempty name="$copyright.company_name"}{$copyright.company_name}{/notempty} </p>
		   {notempty name="$copyright.icp"}<a href="{notempty name='$copyright.copyright_link'}{$copyright.copyright_link}{/notempty}">备案号：{$copyright.icp}</a>{/notempty}&nbsp;&nbsp;
		   {notempty name="$copyright.gov_record"}<a class="gov-box" href={$copyright.gov_url}><img src="SHOP_IMG/gov_record.png" alt="">公安备案：{$copyright.gov_record}</a>{/notempty}
	</div>	
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	var form,
		login_repeat_flag = false;
	function verificationCode(){
		$.ajax({
			type: "get",
			url: "{:addon_url('store://store/login/captcha')}",
			dataType: "JSON",
			async: false,
			success: function (res) {
				var data = res.data;
				$("#verify_img").attr("src",data.img);
				$("input[name='captcha_id']").val(data.id);
			}
		});
	}
	
	layui.use('form', function(){
		form = layui.form;

		form.on('submit(login)', function(data) {
			if (login_repeat_flag) return;
			login_repeat_flag = true;

			$.ajax({
				type: "POST",
				dataType: "JSON",
				url: '{:addon_url("store://store/login/login")}',
				data: data.field,
				success: function(res) {

					if (res.code == 0) {
						layer.msg('登录成功',{anim: 5,time: 1000},function () {
							window.location = ns.url('store://store/index/index');
						});
					} else {
						layer.msg(res.message);
						login_repeat_flag = false;
						verificationCode()
					}

				}
			})
		});
		
		/**
		 * 表单验证
		 */
		form.verify({
			userName: function(value) {
				if (!value.trim()) {
					return "账号不能为空";
				}
			},
			password: function(value) {
				if (!value.trim()) {
					return "密码不能为空";
				}
			},
			verificationCode: function(value) {
				if (!value.trim()) {
					return "验证码不能为空";
				}
			}

		});
	});

	$("body").on("blur",".login-content .login-input",function(){
		$(this).removeClass("ns-border-color");
	});
	$("body").on("focus",".login-content .login-input",function(){
		$(this).addClass("ns-border-color");
	});

	$(document).keydown(function (event) {
		if (event.keyCode == 13) {
			$(".ns-login-btn").trigger("click");
		}
	});
</script>
{/block}